<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost;port=3306;Initial Catalog=hwwl;user id=root;password=123456"/>
  </connectionStrings>
</configuration>